@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;700&family=Sanchez:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.header{
  height: 100px;
  outline: 4px solid rgb(153, 66, 66);

 
}
a{
  text-decoration: none;
 
}
.nav_logo img{
  height: 80px;
}
.nav_logo,
.nav_link,
.button{
  color: black;
}

.nav{
  max-width: 1100px;
  width: 100%;

  margin: 0 auto;
}
.nav,
.nav_item{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  
}
.nav_item{
  column-gap: 25px;
}

.nav_link:hover {
  color: red;
}
button{
  margin-left: 5%;
}
.button{
  padding: 6px 24px;
  border: 2px solid whitesmoke;
  background: transparent;
  cursor: pointer;
  background-color: black;
  color: white;
 
}
.button:active{
  transform: scale(0.98);
}
.home{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url("../img/about/a2.jpg") ;
  background-size: cover;
  background-position: center;
 
  
  
}
.home::before{
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before{
  opacity: 1;
  pointer-events: auto;
}
/*login_form*/
.form_container{
  position: absolute;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1.2);
  z-index: 101;
  background: rgb(220, 216, 216);
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%)scale(1);
}
.form_close{
  position: absolute;
  top: 5%;
  right: 20px;
  color: black;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2{
  font-size: 22px;
  color: black;
  text-align: center;
}
.input_box{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 40px;
}
.input_box input{
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.2px solid #aaaaaa;
}
.input_box input:focus{
  border-color: #7d2ae7;
}
.input_box  i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box  i.password,
.input_box  i.email{
  left: 0;
  color: #707070;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password{
  color: #7d2ae7;
}

.input_box  i.pw_hide{
   right: 0;
   font-size: 18px;
   cursor: pointer;
}
.option_field{
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a{
  color: #7d2ae7;
  font-size: 12px;
  align-items: center;
}
.form_container a:hover{
  text-decoration: underline;
}
.checkbox{
  display: flex;
  white-space: nowrap;
  column-gap: 8px;

}
.checkbox label{
  font-size: 12px;
  user-select: none;
  cursor: pointer;
  color: #0b0217;
}
.checkbox input{
  accent-color: #7d2ae7;
}
.form_container .button{
  background: #7d2ae7;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.form_container.active .signup_form{
  display: block;
}
.form_container.active .login_form{
  display: none;
}
.login_signup{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.signup_form{
  display: none;
}


#newsletter {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  height: 140px;
  



}


#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-left: 8%;
  
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
  margin-left: 8%;

}

#newsletter p span {

  color: #ffbd27;
  


}

#newsletter .form {

  display: flex;
  width: 40%;
 

}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}


#newsletter button {

  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 5%;

}




/*footer*/


footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 5%;
}


footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


footer .logo {
  margin-bottom: 30px;
  height: 60px;
 
}




footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}


footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}


footer .follow {

  margin-top: 20px;

}


footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;

}

footer .install .row img {

  border: 1px solid #088178;
  border-radius: 6px;

}


footer .install img {
  margin: 10px 0 15px 0;
}


footer .follow i:hover,
footer a:hover {

  color: #088178;

}


footer .copyright {
  width: 100%;
  text-align: center;
}

#page-header {

  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;


}


#page-header h2,
#page-header p {

  color: #fff;

}


#pagination {


  text-align: center;
}


#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}


#pagination a i {
  font-size: 16px;
  font-weight: 600;
}



#prodetails {

  display: flex;
  margin-top: 20px;

}


#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;

}


.small-img-group {
  display: flex;
  justify-content: space-between;
}


.small-img-col {

  flex-basis: 24%;
  cursor: pointer;


}



#prodetails .single-pro-details {

  width: 50%;
  padding-top: 30px;


}


#prodetails .single-pro-details h4 {

  padding: 40px 0 20px 0;


}




#prodetails .single-pro-details h2 {

  font-size: 26px;


}



#prodetails .single-pro-details select {

  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;


}


#prodetails .single-pro-details input {


  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;

}


#prodetails .single-pro-details:focus {

  outline: none;

}


#prodetails .single-pro-details button {

  background: #088178;
  color: #fff;
}

#prodetails .single-pro-details span {

  line-height: 25px;
}